.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th{
    width: 10%;
}
.w3-table td:nth-child(1), .w3-table th:nth-child(1), .w3-table-all td:nth-child(1), .w3-table-all th:nth-child(1){
    width: 5%;
}
.w3-table td:nth-child(4), .w3-table th:nth-child(4), .w3-table-all td:nth-child(4), .w3-table-all th:nth-child(4){
    width: 5%;
}
.w3-table td:nth-last-child(1), .w3-table th:nth-last-child(1), .w3-table-all td:nth-last-child(1), .w3-table-all th:nth-last-child(1){
    width: 40%;
}

.frame_layer{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10000;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}
.frame_layer .wrap_layer{
    width: 350px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100000000001;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.frame_layer .wrap_layer h2{
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    color: #000;
}
.frame_layer .wrap_layer p{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #666;
}
.frame_layer .wrap_layer .foot_layer{
    display: flex;
    justify-content: space-around;
}
.frame_layer .wrap_layer .foot_layer span{
    width: 60px;
    height: 24px;
    font-size: 14px;
    border-radius: 12px;
    border:1px solid #333;
    display: block;
}
.frame_layer .wrap_layer .foot_layer button.cancel{
    background: #ccc;
}
.frame_layer .wrap_layer .foot_layer button.sure{
   background: #00bcd4;
   color: #fff;
}